<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geekive.geekiveMydic.mapper.VocabularyMapper">	
	<insert id="insertVocabulary">
		/* vocabularyMapper.insertVocabulary */
		INSERT INTO vocabulary (
		      VOCABULARY_UID
		    , USER_UID
		    , ENGLISH
		    , KOREAN
		    , EXAMPLE
		    , SOURCE
		    , REGISTRATION_DATE
		    , REGISTRATION_USER
		) VALUES (
		      #{vocabularyUid}
		    , #{userUid}
		    , #{english}
		    , #{korean}
		    , #{example}
		    , #{source}
		    , NOW()
		    , #{userUid}
		);
	</insert>
</mapper>